<h1>Todo Page!</h1>

<ul>
    {% for todo_item in all_items %}
        <li> 
            {{ todo_item.content }}
            <form action="/updateTodo/{{todo_item.id}}/" style="display:inline;" method="post">{% csrf_token %}
                <input type="text" name="content"/>
                <input type="submit" value="Update"/>
            </form>
            <form action="/deleteTodo/{{todo_item.id}}/" style="display:inline;" method="post">{% csrf_token %}
                <input type="submit" value="Delete"/>
            </form>
            <form action="/archiveTodo/{{todo_item.id}}/" style="display:inline;" method="post">{% csrf_token %}
                <input type="submit" value="Archive"/>
            </form>
        </li>
    {% endfor %}
</ul>

<form action="/addTodo/" method="post">{% csrf_token %}
    <input type="text" name="content"/>
    <input type="submit" value="Add"/>
</form>