{% extends "base.html" %} {% block page_content %}
<div class="col-md-8 offset-md-2">
  <h1>Team Contributions</h1>
  <hr />
  <div class="jumbotron">
    <b> Team Leads</b>
    <ul>
      <li>Brian Chew - Project Manager, Developer</li>
      <li>Jia Wei - QA Lead, Quality QA Member</li>
      <li>Wei Xiang - Technical Lead, Developer</li>
    </ul>
    <b> Other Members</b>
    <ul>
      <li>Shin Feng - Developer</li>
      <li>Darren Yap - QA Member</li>
    </ul>
  </div>
</div>
{% endblock %}
